<% content_for :page_nav do %>
  <%= render "admin/shared/admin_nav"%>
<% end %>

<div id="page_additional">
  <h3>Notifications</h3>  
  <h4>add, edit, remove and schedule notifications</h4>  
</div>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<ul class="admin_nav">
  <li>
    <%= link_to admin_root_path, :class => "simple_button" do %>
      <span>&larr; Back to admin home</span>
    <% end %>
  </li>
  <li>
    <%= link_to new_admin_notification_path, :class => "simple_button" do %>
      <span>Create new notification</span>
    <% end %>
  </li>
</ul>

<table border="0" cellspacing="0" cellpadding="0">
<tr>
  <th>Message</th>
  <th>Starts on</th>
  <th>Ends on</th>
  <th>Duration</th>
  <th></th>
</tr>
<% @notifications.reverse.each_with_index do |notification, i| %>
  <tr class="actionable" id="<%= controller.controller_name %>_<%= notification.id %>">
    <td><%= truncate(notification.message, 35) %></td>
    <td><%= notification.starts_at.strftime("%m/%d/%Y") %></td>
    <td><%= notification.ends_at.strftime("%m/%d/%Y") %></td>
    <td>About <%= ((notification.ends_at - notification.starts_at)/86400).to_i %> days</td>

    <td class="actions">
      <%= link_to admin_notification_path(notification), :method => :delete, :remote => true, :class => "simple_button" do %>
        <span>Destroy</span>
      <% end %>

      <%= link_to edit_admin_notification_url(notification), :class => "simple_button" do %>
        <span>Edit</span>
      <% end %>    
    </td>

  </tr>
<% end %>
</table>




