<% content_for :page_nav do %>
<nav>
  <ul id="tab_nav">
    <li class="field" class="inactive">
      <%= link_to admin_community_feeds_path do %>
      <span class="title">Go back to all feeds</span>
      <span class="details">you&rsquo;ll lose these changes</span>
      <% end %>
    </li>
  </ul>
</nav>
<% end %>

<%= form_for ([:admin_community, @feed]) do |form| %>

  <%= form.error_messages %>

<ol>
  <li class="field">
    <label>Contributor</label>
    <% content_tag :select, :id => "feed_contributor_id", :name => 'feed[contributor_id]' do -%>
      <%= raw grouped_options_for_select(Contributor.visibility_groups) %>
    <% end %>
  </li>

  <li class="field">
    <label>Site url</label>
    <%= form.text_field :site_url %>
  </li>

  <li class="field">
    <label>Feed url</label>
    <%= form.text_field :feed_url %>
  </li>

  <li class="submit">
    <%= submit_tag "Save" %>
  </li>
</ol>
<% end %>
