<div class="question">
  <div class="question_details">
    <span><%= question.asker_name %> asked <%= question.contributor.full_name if question.contributor %></span>
    <% if question.contributor %>
      <% content_tag :a, :href => contributors_path(:anchor => question.contributor.id), :title => question.contributor.full_name, :class => "person_thumb tiny inline", :rel => 'tipsy' do -%>
        <%= image_tag question.contributor.photo.url(:tiny), :alt => question.contributor.full_name %>
        <%= content_tag(:span, "", :class => 'person_mask') %>
      <% end -%>    
    <% end -%>
  </div>

  <div class="question_body">
    <%= textilize(question.body) %>
  </div>

  <div class="question_meta">    
    <div class="voting">
      <%= link_to 'vote down', vote_community_question_url(question, :down => true), :class => 'vote down', :method => :put %>
      <span class="vote_count is_zero"><%= question.points.to_i %></span>
      <%= link_to 'vote up', vote_community_question_url(question, :up => true), :class => 'vote up', :method => :put %>
    </div>
  </div>  
</div>
