<%# add these to the head only for the public pages with forms %>
<% content_for :head do %>
  <%= javascript_include_tag "jquery.uniform" %>
  <%= stylesheet_link_tag "uniform.default" %>
<% end %>

<% content_for :page_nav do %>
  <nav>
    <%= render "layouts/shared/questions_nav" %>
    <%= render "layouts/shared/sidebar_social_links" %>
  </nav>
<% end %>

<div id="page_additional">
  <h3>Ask a question to the contributors</h3>
  <h4>Ask a question to the expert contributors, also vote on questions you&rsquo;d like to see answered</h4>
</div>

<%= form_for [:community, @question], :html => { :honeypot => true } do |f| %>

<%= f.error_messages %>

  <ol class='uniform'>
    <li class="field">
      <label>Ask contributor</label>
      <%= f.select(:contributor_id , Contributor.visible.collect {|p| [ p.full_name, p.id ] }, { :include_blank => true }) %>
    </li>

    <li class="field">
      <label>Question</label>
      <%= f.text_area :body %>
    </li>

    <li class="field">
      <label></label>
      <%= f.submit "Submit" %>  
    </li>
  </ol>
  
<% end %>
