<% content_for :page_nav do %>
<nav>
  <%= render "layouts/shared/community_nav" %>
  <%= render "layouts/shared/sidebar_social_links" %>
</nav>
<% end %>

<div id="page_additional">
  <h3>Tweets about #railsdispatch, and more!</h3>
  <h4>Have your message posted here too, just tweet with the hashtag #railsdispatch, or mention @railsdispatch</h4>
</div>

<% @tweets.each do |tweet| %>
<div class="tweet">
  <img height="48" width="48" class="twitter_profile_image" src='<%= tweet.profile_image_url %>' />
  
  <span class="twitter_username"><%= tweet.from_user %></span>
  <%= raw twitter_auto_link(tweet.text) %>
  <span class="tweet_time_ago"><%= time_ago_in_words(tweet.created_at) %> ago</span>
</div>
<% end %>