<% content_for :page_nav do %>
<nav>
  <ul id="tab_nav">
  <% for page in @pages %>
    <% content_tag :li, :class => current_page?(:id => page.id) ? "active" : "inactive" do %>
      <%= link_to page do %>
        <span class="title"><%= page.sidebar_title %></span>
        <span class="details"><%= page.sidebar_subtitle %></span>
      <% end %>
    <% end %>    
  <% end %>
  </ul>
  <%= render "layouts/shared/sidebar_social_links" %>
</nav>
<% end %>

<%= render @page %>

