<% content_for :page_nav do %>
<nav>
  <ul id="tab_nav">
    <% if @pages %>
    <% @pages.each_with_index do |page, i| %>
      <% content_tag :li, :class => current_page?(:slug => page.slug) ? "active" : "inactive" do %>
        <%= link_to "/about/#{page.slug}" do %>
        <span class="title"><%= page.sidebar_title %></span>
        <span class="details"><%= page.sidebar_subtitle %></span>
        <% end %>
      <% end %>
    <% end %>
    <% end %>
  </ul>
  <%= render "layouts/shared/sidebar_social_links" %>
</nav>
<% end %>

<%= render @page if @page %>

