<%= form_for [:admin, @post] do |f| %>
  <ol>
    <li class="field">
      <label>Title</label>
      <%= f.text_field :title %>
    </li>
    
    <% if controller.action_name == 'edit' %>
    <li class="field">
      <label>Page Slug</label>
      <%= f.text_field :slug %>
    </li>
    <% end %>
    
    <li class="field">
      <label>Sidebar title</label>
      <%= f.text_field :sidebar_title %>
    </li>
    
    <li class="field">
      <label>Contributor</label>
      <%= f.select(:contributor_id, grouped_options_for_select(Contributor.visibility_groups, @post.contributor_id), { :include_blank => true }) %>
    </li>
    
    <li class="field">
      <label>Video embed link</label>
      <%= f.text_field :video_embed_link %>
    </li>
    
    <li class="field">
      <label>Summary</label>
      <%= f.text_field :summary %>
    </li>
    
    <li class="field">
      <label>Body</label>
      <%= f.text_area :body %>
    </li>
    
    <li class="field time_select">
      <label>Publish date</label>
      <%= f.datetime_select :publish_date %>
    </li>

    <li class="field">
      <label>Published?</label>
      <%= f.check_box :published %> 
    </li>

    <li class="field">
      <h3>Elements</h3>
      <% f.fields_for :elements do |element_form| %>
        <%= render :partial => 'element', :locals => { :f => element_form } %>
      <% end %>
      <p><%= add_child_link "Add element", :elements %></p>
  
      <%= new_child_fields_template(f, :elements)%>  
    </li>


    <p><%= f.submit "Submit" %></p>  
  </ol>
<% end %>
