<% content_for :page_nav do %>
  <%= render "admin/shared/admin_nav"%>
<% end %>

<div id="page_additional">
  <h3>Posts</h3>  
  <h4>add, edit, remove posts</h4>  
</div>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<ul class="admin_nav">
  <li>
    <%= link_to admin_root_path, :class => "simple_button" do %>
      <span>&larr; Back to admin home</span>
    <% end %>
  </li>
  <li>
    <%= link_to new_admin_post_path, :class => "simple_button" do %>
      <span>Create new post</span>
    <% end %>
  </li>
</ul>


<h3 class="section_header">Future Posts</h3>
<table border="0" cellspacing="0" cellpadding="0">
<tr>
  <th style="width:150px;" colspan="2">Contributor</th>
  <th style="width:220px;">Title</th>
  <th style="width:90px;">Publish Date</th>
  <th></th>
</tr>

<% if @future_posts %>
<% @future_posts.each_with_index do |post, i| %>
<tr class="actionable" id="<%= controller.controller_name %>_<%= post.id %>">
  <td><%= content_tag(:span, "", :class => "status_icon", :title => "appears as future content", :rel => 'tipsy') if Post.upcoming.published.include?(post) %></td>
  <td><%= post.contributor.full_name if post.contributor %></td>
  <td><%= truncate(post.title, 35) if post.title %></td>
  <td><%= post.publish_date.strftime("%m/%d/%Y") %></td>

  <td class="actions">
    <%= link_to  admin_post_path(post), :method => :delete, :remote => true, :class => "simple_button" do %>
      <span>Destroy</span>
    <% end %>

    <%= link_to edit_admin_post_url(post), :class => "simple_button" do %>
      <span>Edit</span>
    <% end %>   
  </td>
  
</tr>
<% end %>
<% end %>

</table>

<h3 class="section_header">Published Posts</h3>
<table border="0" cellspacing="0" cellpadding="0">
<tr>
  <th style="width:150px;" colspan="2">Contributor</th>
  <th style="width:220px;">Title</th>
  <th style="width:90px;">Publish Date</th>
  <th></th>
</tr>

<% if @past_posts %>
<% @past_posts.each_with_index do |post, i| %>
<tr class="actionable" id="<%= controller.controller_name %>_<%= post.id %>">
  <td><%= content_tag(:span, "", :class => "status_icon", :title => "published", :rel => 'tipsy') if Post.menu.include?(post) %></td>
  <td><%= post.contributor.full_name if post.contributor %></td>
  <td><%= truncate(post.title, 35) if post.title %></td>
  <td><%= post.publish_date.strftime("%m/%d/%Y") %></td>

  <td class="actions">
    <%= link_to  admin_post_path(post), :method => :delete, :remote => true, :class => "simple_button" do %>
      <span>Destroy</span>
    <% end %>

    <%= link_to edit_admin_post_url(post), :class => "simple_button" do %>
      <span>Edit</span>
    <% end %>   
  </td>
  
</tr>
<% end %>
<% end %>

</table>


