<div id="page_additional">
  <h3>New Post</h3>
  <h4>You are creating a new post, this will appear in the "New Rails 3 Features" section.</h4>
</div>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<% content_for :page_nav do %>
<nav>
  <ul id="tab_nav">
    <li class="field" class="inactive">
      <%= link_to admin_posts_path do %>
        <span class="title">Go back to all posts</span>
        <span class="details">you&rsquo;ll lose these changes</span>
      <% end %>
    </li>
  </ul>
</nav>
<% end %>

<%= form_for ([:admin, @post]) do |form| %>
  <ol>
    <li class="field">
      <label>Title</label>
      <%= form.text_field :title %>
    </li>
    
    <li class="field">
      <label>Sidebar title</label>
      <%= form.text_field :sidebar_title %>
    </li>
    
    <li class="field">
      <label>Contributor</label>
      <%= form.select(:contributor_id, grouped_options_for_select(Contributor.visibility_groups, @post.contributor_id), { :include_blank => true }) %>
    </li>
    
    <li class="field">
      <label>Video embed link</label>
      <%= form.text_field :video_embed_link %>
    </li>
    
    <li class="field">
      <label>Summary</label>
      <%= form.text_field :summary %>
    </li>
    
    <li class="field">
      <label>Body</label>
      <%= form.text_area :body %>
    </li>
    
    <li class="field time_select">
      <label>Publish date</label>
      <%= form.datetime_select :publish_date %>
    </li>

    <li class="field">
      <label>Published?</label>
      <%= form.check_box :published %> 
    </li>
                
    <li class="submit">
      <%= submit_tag "Save" %>
    </li>
  </ol>
<% end %>


<p><%= link_to "Back to List", posts_path %></p>
