<div class="popular_post">
  <% if feed_entry.feed.contributor %>
  <% content_tag :a, :href => contributors_path(:anchor => feed_entry.feed.contributor.id), :title => feed_entry.feed.contributor.full_name, :class => "person_thumb small", :rel => 'tipsy' do -%>
    <%= image_tag feed_entry.feed.contributor.photo.url(:thumb), :alt => feed_entry.feed.contributor.full_name %>
    <%= content_tag(:span, "", :class => 'person_mask') %>
  <% end -%>
  <% end -%>

  <div class="post_abstract">
    <div class="post_meta_title">
      <h4><%= link_to raw(feed_entry.title), feed_entry.url %></h4>  
      <h5>Posted <%= time_ago_in_words(feed_entry.published_at) %> ago on <%= link_to feed_entry.feed.site_url %> <%= " by #{feed_entry.feed.contributor.full_name}" if feed_entry.feed.contributor %></h5>
    </div>
    <%= truncate(feed_entry.summary, 400).html_safe %>
  </div>

</div>
