<% content_for :head do %>
  <%= javascript_include_tag "jquery.uniform" %>
  <%= stylesheet_link_tag "uniform.default" %>
<% end %>

<% content_for :page_nav do %>
<nav>
  <ul id="tab_nav">
    <li class="inactive">
      <%= link_to admin_questions_path do %>
        <span class="title">Go back to all questions</span>
        <span class="details">giving up?</span>
      <% end %>
    </li>
  </ul>
</nav>
<% end %>

<%= form_for ([:admin, @question]) do |form| %>
  <ol class='uniform'>
    <li class="field">
      <label>Question</label>
      <%= form.text_area :body, :disabled => 'disabled' %>
    </li>
    
    <%= form.fields_for :answer do |answer| %>
    <li class="field">
      <label>I am</label>
      <%= answer.select(:contributor_id , Contributor.visible.collect {|p| [ p.full_name, p.id ] }, { :include_blank => true }) %>
    </li>
    
    <li class='field'>
      <label>Answer</label>
      <%= answer.text_area :body %>
    </li>
    
    <li class='field'>
      <label>Tags</label>
      <%= answer.text_field :tag_names %>
      <span class="hint">Separate tags with spaces, and multi-word-tags with hyphens.</span>
    </li>
    
    <% end %>
            
    <li class="submit">
      <%= submit_tag "Save" %>
    </li>
  </ol>
<% end %>