<% content_for :page_nav do %>
  <%= render "admin/shared/admin_nav"%>
<% end %>

<div id="page_additional">
  <h3>Settings</h3>  
  <h4>various app settings, logs, and tools</h4>  
</div>

<ul class="admin_nav">
  <li>
    <%= link_to admin_root_path, :class => "simple_button" do %>
      <span>&larr; Back to admin home</span>
    <% end %>
  </li>
  <li>
    <%= link_to "#", :class => "simple_button" do %>
      <span>App logs</span>
    <% end %>
  </li>
  <li>
    <%= link_to "#", :class => "simple_button" do %>
      <span>Server logs</span>
    <% end %>
  </li>
  <li>
    <%= link_to "#", :class => "simple_button" do %>
      <span>Restart webserver</span>
    <% end %>
  </li>
</ul>

<% form_tag set_admin_settings_path, :method => :put do %>
  <ol>
  <% for setting in @settings %>
    <li class="field">
      <label><%= setting.setting_name.humanize %></label>
      <%= text_field_tag "[setting_value][]", setting.setting_value %>
    </li>
  <% end %>  
    <li class="submit">
      <%= submit_tag "Update settings" %>
    </li>
  </ol>



<% end %>



