<div id="page_additional" class="with_contributor">
  <a href="#" class="person_thumb small">
    <%= image_tag post.contributor.photo.url(:thumb), :alt => post.contributor.full_name %>
    <span class="person_mask"></span>
  </a>
  
  <h3><%= post.title %></h3>

  <div class="contributor_details">
    <h4><%= post.contributor.full_name %></h4>  
    <ul class="contributor_social_links">
      <li><%= link_to post.contributor.firstname, "http://twitter.com/#{post.contributor.twitter_username}", :rel => "tipsy", :class => "twitter_social", :title => "Follow #{post.contributor.firstname} on Twitter" %></li>
      <li><%= link_to post.contributor.firstname, "http://github.com/#{post.contributor.github_username}", :rel => "tipsy", :class => "github_social", :title => "Follow #{post.contributor.firstname} on Github" %></li>
      <li><a class="ask_contributor_question" title="Ask <%= post.contributor.firstname %> a Question" rel="tipsy" href="#">Ask a Question</a></li>
    </ul>  
  </div>
  
</div>

<% unless post.elements.nil? %>
<ul class="element_list">
  <li class="title"><span>In this post</span></li>
  <% for element in post.elements %>
    <li><%= element.title %></li>
  <% end %>
</ul>
<% end %>

<% unless post.video_embed_link.length == 0 %>
<div class="video">
  <%= raw post.video_embed_link %>
</div>
<% end %>

<%#= raw coderay(post.body) %>

<div class="post_content">
  <%= raw textilize(coderay(post.body)) unless post.summary.nil? %>  
</div>
