<div id="page_additional" class="with_contributor">
  
  <% content_tag :a, :href => contributor_path(post.contributor), :title => post.contributor.full_name, :class => "person_thumb small", :rel => 'tipsy' do -%>
    <%= image_tag post.contributor.photo.url(:thumb), :alt => post.contributor.full_name %>
    <%= content_tag(:span, "", :class => 'person_mask') %>
  <% end -%>
  
  <h3 class="post_title"><%= link_to post.title, post_url(post.slug) %></h3>

  <div class="contributor_details">
    <h4>
      <% if post.topic_host == true %>
        <span class="topichost">Topic Host:</span>
      <% end %>
      
      <%= link_to post.contributor.full_name, contributor_path(post.contributor) %>
    </h4>  
    
    <% unless post.skill_level.blank? %>
      <div class="post_skill_level">
        <h3>Difficulty:</h3>
        <%= raw "<span class='skill_tag #{post.skill_level.downcase}'><span>#{post.skill_level}</span></span>"  %>          
      </div>
    <% end %>
    
    <ul class="contributor_social_links">
      <%= render "contributors/bio", :contributor => post.contributor %>
    </ul>  
  </div>
  
</div>

<!-- <%# unless post.elements.count == 0 %>
<ul class="element_list">
  <li class="title"><span>In this post</span></li>
  <%# for element in post.elements %>
    <li><%#= link_to element.title, element.link %></li>
  <%# end %>
</ul>
<%# end %> -->

<div class="post_content">
  <%= textilize(post.body) unless post.body.nil? %>
</div>


