<% content_for :page_nav do %>
<nav>
  <%= render "layouts/shared/days_until" %>
  
  <ul id="tab_nav">
  <% if @upcoming %>
    <%= content_tag :li, :class => "future" do %>
      <%= content_tag :span, :class => "upcoming_placeholder" do %>
      <span class="title"><%= @upcoming.sidebar_title %></span>
      <span class="details">Coming Next</span>
      <% end %>
    <% end %>
  <% end %>

  <% @nav_posts.each do |post| %>
    <%= content_tag(:li) do %>
      <%= link_to post_url(post.slug) do %>
      <span class="title"><%= post.sidebar_title %></span>
      <span class="details"><%= weeks_ago_in_words(post.publish_date) %></span>
      <% end %>
    <% end %>
  <% end %>
  </ul>
  
  <%= render "layouts/shared/sidebar_social_links" %>
</nav>
<% end %>

<div id="page_additional">
  <h3>All Posts</h3>
  <h4>Posts from all past weeks</h4>
</div>

<% @posts.each do |post| %>
<div class="popular_post">
  <% content_tag :a, :href => contributor_path(post.contributor), :title => post.contributor.full_name, :class => "person_thumb small", :rel => 'tipsy' do -%>
    <%= image_tag post.contributor.photo.url(:thumb), :alt => post.contributor.full_name %>
    <%= content_tag(:span, "", :class => 'person_mask') %>
  <% end -%>

  <div class="post_abstract">
    <div class="post_meta_title">
      <h4><%= link_to post.title, post_url(post.slug) %></h4>  
      <h5><%= post.contributor.full_name %> posted <%= link_to post.created_at.strftime("%B %d, %Y"), post_path(post.slug) %></h5>
    </div>
     <%= raw truncate(strip_tags(post.body), :length => 400) %>
  </div>
</div>
<% end %>
