<% content_for :page_nav do %>

<% if @upcoming %>
<div id="upcoming">
  <div class="counter">

    <div class="counter_section">
      <div class="counter_section_content">1</div>
      <div class="counter_section_mask"></div>
    </div>
    <div class="counter_section">
      <div class="counter_section_content">2</div>
      <div class="counter_section_mask"></div>
    </div>

  </div>
</div>
<% end %>

<nav>
  <ul id="tab_nav">
    
    <!-- <li class="future">
      <a href="#">
        <span class="title">SafeBuffers and Rails 3</span>
        <span class="details">Up next</span>
      </a>
    </li> -->

<% if @upcoming %>
  <% @upcoming.each do |post| %>
    <% content_tag :li, :class => "future" do %>
      <%= link_to post do %>
      <span class="title"><%= post.sidebar_title %></span>
      <span class="details"><%= weeks_or_time_ago_in_words(post.publish_date) %></span>
      <% end %>
    <% end %>
  <% end %>
<% end %>
        
  <% @posts.past.published.each_with_index do |post, i| %>
    <% content_tag :li, :class => current_page?(:id => post.id) ? "active" : "inactive" do %>
      <%= link_to post do %>
      <span class="title"><%= post.sidebar_title %></span>
      <span class="details"><%= weeks_or_time_ago_in_words(post.publish_date) %></span>
      <% end %>
    <% end %>
  <% end %>
  </ul>
  <%= render "layouts/shared/sidebar_social_links" %>
</nav>
<% end %>


<%= render @post %>

