<div id="contributor_details">
  <% content_tag :a, :href => url_for(@contributor), :title => @contributor.full_name, :class => "person_thumb large", :rel => 'tipsy' do -%>
    <%= image_tag @contributor.photo.url(:large), :alt => @contributor.full_name %>
    <%= content_tag(:span, "", :class => 'person_mask') %>
  <% end -%>

  <ul class="contributor_bio_info">
    <li class="contributor_name"><%= @contributor.full_name %></li>
    <!-- <li>lorem ipsum</li> -->
  </ul>
  
  <ul class="contributor_social_links">
    <li><%= link_to @contributor.firstname, "http://github.com/#{@contributor.github_username}", :rel => "tipsy", :class => "github_social", :title => "Follow #{@contributor.firstname} on Github" %></li>
    <li><%= link_to @contributor.firstname, "http://twitter.com/#{@contributor.twitter_username}", :rel => "tipsy", :class => "twitter_social", :title => "Follow #{@contributor.firstname} on Twitter" %></li>
  </ul>  
  

  <p><%= raw markdown(@contributor.bio) %></p>

</div>
