<nav>
  <ul id="tab_nav">
    <%= content_tag :li, :class => controller.controller_name == "users" ? "active" : "inactive" do %>
      <%= link_to admin_users_path do %>
        <span class="title">Users</span>
        <span class="details">add, edit, remove users</span>
      <% end %>
    <% end %>
  
    <%= content_tag :li, :class => controller.controller_name == "posts" ? "active" : "inactive" do %>
      <%= link_to admin_posts_path do %>
      <span class="title">Posts</span>
      <span class="details">add, edit, remove posts</span>
      <% end %>
    <% end %>
  
    <%= content_tag :li, :class => controller.controller_name == "contributors" ? "active" : "inactive" do %>
      <%= link_to admin_contributors_path do %>
      <span class="title">Contributors</span>
      <span class="details">add, edit, remove contributors</span>
      <% end %>
    <% end %>
  
    <%= content_tag :li, :class => controller.controller_name == "community" ? "active" : "inactive" do %>
      <%= link_to admin_community_root_path do %>
      <span class="title">Community</span>
      <span class="details">add, edit, remove feeds</span>
      <% end %>
    <% end %>
  
    <%= content_tag :li, :class => controller.controller_name == "notifications" ? "active" : "inactive" do %>
      <%= link_to admin_notifications_path do %>
      <span class="title">Notifications</span>
      <span class="details">manage notification messages</span>
      <% end %>
    <% end %>

    <%= content_tag :li, :class => controller.controller_name == "pages" ? "active" : "inactive" do %>
      <%= link_to admin_pages_path do %>
      <span class="title">Pages</span>
      <span class="details">manage content on custom pages</span>
      <% end %>
    <% end %>

    <%= content_tag :li, :class => controller.controller_name == "questions" ? "active" : "inactive" do %>
      <%= link_to admin_questions_path do %>
      <span class="title">Questions</span>
      <span class="details">View questions, answer them</span>
      <% end %>
    <% end %>
  
    <%= content_tag :li, :class => controller.controller_name == "settings" ? "active" : "inactive" do %>
      <%= link_to admin_settings_path do %>
      <span class="title">Settings</span>
      <span class="details">manage various app settings</span>
      <% end %>
    <% end %>
  </ul>
</nav>
