<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Rails Dispatch | Presented by Engine Yard </title>


  <!--[if lte IE 8]><script src="/javascripts/html5.js"></script><![endif]-->
  <%= javascript_include_tag "jquery-1.4.2.min", "jquery.rails", "tipsy", "application" %>
  <%= stylesheet_link_tag "application" %>
  
  <!--[if lte IE 6]><link rel="stylesheet" href="/stylesheets/main.ie6.css" type="text/css" media="screen" charset="utf-8"><![endif]-->
  <!--[if IE 7]><link rel="stylesheet" href="/stylesheets/main.ie7.css" type="text/css" media="screen" charset="utf-8"><![endif]-->

  <%= yield :head -%> 
  
  <%= auto_discovery_link_tag(:rss, '/posts/feed.rss') %>

  <%= csrf_meta_tag %>
  
</head>
<body id="<%= controller.controller_name %>_page">

  <% for notification in Notification.current_notifications %>
  <div class="alert">
    <span><%= raw notification.message %> <a href="#" class="close_alert"></a></span>
  </div>
  <% end %>
  
  <header>
    
    <div id="title">
      <% if (controller.controller_name == "posts" && controller.action_name == "welcome") %>
      <span>
        <h1>Rails Dispatch</h1>
        <h2>Rails news delivered fresh</h2>        
      </span>
      <% else %>
      <a href="/">
        <h1>Rails Dispatch</h1>
        <h2>Rails news delivered fresh</h2>        
      </a>
      <% end %>
    </div>

    <a id="enginyard_header" href="http://engineyard.com">Presented by Engine Yard</a>
    
    <nav>
      <ul>
        
        <%= content_tag :li, :class => controller.controller_name == "posts" ? "current" : nil do %>
          <%= link_to "Posts", root_path %>
        <% end %>
        
        <%= content_tag :li, :class => controller.controller_name == "contributors" ? "current" : nil do %>
          <%= link_to "Contributors", contributors_path %>
        <% end %>
        
        <%= content_tag :li, :class => controller.controller_name == "community" ? "current" : nil do %>
          <%= link_to "Community", '/community' %>
        <% end %>
        
        <%= content_tag :li, :class => controller.controller_name == "pages" ? "current" : nil do %>
          <%= link_to "About", "/about/#{Page.published.first.slug}" %>
        <% end %>
        
      </ul>  
    </nav>
  </header>

  <section>

    <%= yield :page_nav -%>  

    <%= content_tag :article, yield -%>  

  </section>

  <footer>
    <div id="footer_contents">
      <div id="engineyard_photo">
        <img src="/images/engineyard.png" width="241" height="128" alt="Engineyard">
        <h6>Our office</h6>
      </div>

      <div id="engineyard">
        <%= raw markdown(Setting.all[2].setting_value) %>
      </div>

      <nav>
        <ul>
          <li><%= link_to "Posts", root_path %></li>
          <li><%= link_to "Contributors", contributors_path %></li>
          <li><%= link_to "Community", '/community' %></li>
          <li><%= link_to "About", "/about/#{Page.published.first.slug}" %></li>
        </ul>
        
        <div id="copyrights">
          <h5>Engine Yard</h5>
          <p>Designed and developed by <a href="http://newgoldleaf.com">New Gold Leaf</a>, deployed at <a href="http://engineyard.com">Engine Yard</a>.</p>
        </div>
        
      </nav>
    </div>
    
  </footer>
  
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-764576-15']);
    _gaq.push(['_trackPageview']);
    (function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);})();
  </script>
</body>
</html>
