<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Rails Dispatch | Presented by Engine Yard </title>

  <!--[if lte IE 8]><script src="/javascripts/html5.js"></script><![endif]-->
  <%= javascript_include_tag "jquery-1.4.2.min", "jquery.rails", "tipsy", "application" %>
  <%= stylesheet_link_tag "uniform.default", "application" %>
  

  <!--[if lte IE 6]><link rel="stylesheet" href="/stylesheets/main.ie6.css" type="text/css" media="screen" charset="utf-8"><![endif]-->
  <!--[if IE 7]><link rel="stylesheet" href="/stylesheets/main.ie7.css" type="text/css" media="screen" charset="utf-8"><![endif]-->

  <%= csrf_meta_tag %>
  
</head>
<body id="<%= controller.controller_name %>_page">

  <% if flash[:notice] %>
    <div class="alert notice"><span><%= flash[:notice] %></span></div>
  <% else %>
    <% for notification in Notification.current_notifications %>
    <div class="alert">
      <span><%= raw notification.message %> <a href="#" class="close_alert"></a></span>
    </div>
    <% end %>
  <% end %>
  
  <!-- <div class="alert">
    <span>Rails 3.0.0 beta is out! Read the <a href="#">guide to upgrading your Rails app</a> to 3.0 or <a href="#">go see what has changed</a>. <a href="#" class="close_alert"></a></span>
  </div> -->

  <header>
    <h1><%= link_to_unless_current "Rails Dispatch", root_path -%></h1>
    <h2>Rails news delivered fresh</h2>

    <a id="enginyard_header" href="http://engineyard.com">Presented by Engine Yard</a>
    
    <nav>
      <ul>
        
        <% content_tag :li, :class => controller.controller_name == "posts" ? "current" : nil do %>
          <%= link_to "Posts", root_path %>
        <% end %>
        
        <% content_tag :li, :class => controller.controller_name == "contributors" ? "current" : nil do %>
          <%= link_to "Contributors", contributors_path %>
        <% end %>
        
        <% content_tag :li, :class => controller.controller_name == "community" ? "current" : nil do %>
          <%= link_to "Rails Community", '/community' %>
        <% end %>
        
      </ul>  
    </nav>
  </header>

  <section>

    <%= content_tag :nav, yield(:page_nav) -%>  

    <%= content_tag :article, yield -%>  

  </section>

  <footer>
    <div id="footer_contents">
      <div id="engineyard_photo">
        <img src="/images/engineyard.png" width="165" height="128" alt="Engineyard">
        <h6>Our office</h6>
      </div>

      <div id="engineyard">
        <h3>About Engine Yard</h3>
        <p>This is our hometown: San Francisco, California, USA.</p>
        <p>Most of us are around San Francisco, but some of us are in places like Washington State, Missouri, Minneapolis, Israel, Australia and the UK.</p>
        <p>&copy;2010 Engine Yard, Inc. </p>
      </div>

      <nav>
        <ul>
          <li><%= link_to "Posts", root_path %></li>
          <li><%= link_to "Contributors", contributors_path %></li>
          <li><%= link_to "Rails Community", '/community' %></li>
          
          <% for page in Page.all %>
          <li><%= link_to page.page_title, page %></li>
          <% end %>
          
        </ul>
      </nav>
    </div>
    
  </footer>
  
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-764576-15']);
    _gaq.push(['_trackPageview']);
    (function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);})();
  </script>
</body>
</html>
